.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: blue;
    color:white;
    width: 400px;
}

.img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 10%;
}