.container{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.81);
    width: 33rem;
    max-height: fit-content;
    padding: 5px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
}